:root {
    /*https://raw.githubusercontent.com/raychunghk/ramr/main/static*/
    --htmlbackground: url('https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/hkcentralblur5.jpg') no-repeat center center fixed;
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --cardhover-bgheight: calc( var(--card-width)* .34);
    --menuitem-topmargin: calc( var(--card-width)* .28);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --cardbgfilter: saturate(.8) grayscale(70%) sepia(5%) invert(0) contrast(100%);
    --spacing-xxxl: 80px;
    --xbox1-color: rgba(230, 125, 64, 0.90);
    --card1-color: linear-gradient(319deg, rgba(201, 83, 24, 0.94) 0%, rgba(255, 153, 0, 0.84) 20%, rgba(255, 153, 0, 0.85) 66%, #ffd68e 100%);
    --card2-color: linear-gradient(305deg, #4851ba 0%, rgba(0, 102, 255, 0.85) 19%, rgba(0, 102, 255, 0.85) 80%, rgba(152, 192, 251, 1) 100%);
    /*--card3-color: linear-gradient(305deg, rgb(131 241 14 / 94%) 0%, rgb(152 231 68 / 96%) 20%, rgba(146, 208, 80, 0.95) 66%, rgb(199 231 165) 100%);*/
    --card3-color: linear-gradient(305deg, rgb(73 225 10 / 94%) 0%, rgb(86 219 42 / 96%) 20%, rgb(117 215 89 / 95%) 66%, rgb(199 231 165) 100%);
    --card4-color: linear-gradient(305deg, rgba(158, 60, 207, 1) 0%, rgba(204, 102, 255, 0.95) 34%, rgba(204, 109, 251, 0.96) 80%, rgba(204, 157, 227, 0.94) 100%);
    --card5-color: linear-gradient(305deg, rgb(223, 172, 6) 0%, rgba(255, 230, 0, 0.95) 34%, rgba(255, 234, 0, 0.96) 80%, rgba(231, 218, 103, 0.94) 100%);
    --cardx-color: linear-gradient(305deg, rgba(168, 74, 12, 1) 0%, rgba(197, 89, 17, 0.95) 34%, rgba(204, 108, 45, 0.96) 80%, rgba(235, 158, 106, 0.94) 100%);
    --card6-color: linear-gradient(305deg, rgba(207, 27, 78, 1) 0%, rgba(235, 82, 125, 0.95) 34%, rgba(247, 89, 142, 0.96) 88%, rgba(240, 57, 155, 0.94) 100%);
    --color-linearkaki: linear-gradient(353deg, #b49a69 10%, #d6c19b 28%, #f9ebd1 69%, #fff 100%);
    /*--color-gradientyellowbg: linear-gradient(315deg, rgba(241, 226, 197, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    --color-gradientyellowbg: linear-gradient(315deg, #efce92 0%, #f1e2c5 19%, #f1e2c5 22%, #ffffff 100%);
    --color-card1figcaption: linear-gradient(to bottom, rgba(252, 232, 199, .6) 0%, rgba(250, 208, 150, 0.3) 20%, rgba(239, 204, 153, 0.3) 75%, rgba(223, 187, 121, 0.5) 100%);
    --color-card2figcaption: linear-gradient(to bottom, rgba(192, 217, 252, .6) 0%, rgba(200, 220, 250, 0.3) 20%, rgba(164, 194, 236, 0.3) 75%, rgba(120, 124, 165, 0.5) 100%);
    --color-card3figcaption: linear-gradient(to bottom, rgba(235, 250, 218, .6) 0%, rgba(203, 250, 153, 0.3) 20%, rgba(203, 247, 156, 0.3) 75%, rgba(155, 180, 129, 0.5) 100%);
    --color-card4figcaption: linear-gradient(to bottom, rgba(236, 218, 245, .6) 0%, rgba(220, 169, 245, 0.3) 20%, rgba(226, 177, 250, 0.3) 66%, rgba(176, 144, 192, 0.6) 100%);
    --color-card5figcaption: linear-gradient(to bottom, rgba(255, 255, 156, 0.6) 0%, rgba(223, 212, 90, 0.3) 20%, rgba(216, 202, 81, 0.3) 75%, rgba(190, 159, 92, 0.5) 100%);
    --color-card6figcaption: linear-gradient(to bottom, rgba(238, 194, 207, 0.6) 0%, rgba(202, 30, 88, 0.3) 20%, rgba(199, 27, 107, 0.3) 75%, rgba(201, 64, 105, 0.5) 100%);
    --width-container: 1300px;
    --card-width: 450px;
    --card-hoverup: -40px;
    --card-height: calc( var(--card-width)* .5);
    --card-menu-width: calc(var(--card-width) + 60px);
    --card1-menuitemwidth: 715px;
    --card-menudiv-height: 450px;
    --animation-delay: .1s;
    --card1bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/cgo1.jpg);
    --card2bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/park.jpg);
    --card3bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/park2.jpg);
    --card4bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/watertap.jpg);
    --card5bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/stanley.jpg);
    --card6bg: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/card/glasswall.jpg);
    --urlmenubg1: url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/gplaypattern.png) repeat;
    --h2border: 2px;
    --h2borderb: -2px;
    --h2bordercolor: #5d5e60;
    --h2bordercolorb: #575d69;
}

nav.main-header h2 {
    color: white;
    /*-webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: #212121;
    -webkit-text-fill-color: #ffffff;
    text-shadow: none;*/
    font-size: 2.4em;
    text-shadow: var(--h2bordercolor) 2px 0px 0px, var(--h2bordercolor) 1.75517px 0.958851px 0px, var(--h2bordercolor) 1.0806px 1.68294px 0px, var(--h2bordercolor) 0.141474px 1.99499px 0px, var(--h2bordercolor) -0.832294px 1.81859px 0px, var(--h2bordercolor) -1.60229px 1.19694px 0px, var(--h2bordercolor) -1.97998px 0.28224px 0px, var(--h2bordercolor) -1.87291px -0.701566px 0px, var(--h2bordercolor) -1.30729px -1.5136px 0px, var(--h2bordercolor) -0.421592px -1.95506px 0px, var(--h2bordercolor) 0.567324px -1.91785px 0px, var(--h2bordercolor) 1.41734px -1.41108px 0px, var(--h2bordercolor) 1.92034px -0.558831px 0px, #4e4a4ad1 0px 0px 5px
}

.menubar {
    width: 100% !important;
    position: absolute;
    top: 0px;
    background-color: rgb(255 245 245 / 60%);
    height: 56px;
    text-align: center;
    font-size: 20px;
    padding: 6px 0px 6px 0px;
    text-shadow: 2px 2px grey;
    font-family: inherit;
    box-shadow: 0px 5px 3px 3px rgb(129 124 147 / 13%);
}

.hero-section * {
    font-family: sans-serif !important;
}

.asdsection {
    max-height: 80vh;
    overflow-y: auto;
}

.menubar h2 {
    display: inline-block;
    text-align: center;
    position: relative;
    transform: translateY(-10%);
}

.menubar img {
    height: 35px;
    margin-top: 5px;
}

.asdsection .card1 .asdcard__background {
    background-image: var(--card1bg);
}

.asdsection .card2 .asdcard__background {
    background-image: var(--card2bg);
}

.asdsection .card3 .asdcard__background {
    background-image: var(--card3bg);
}

.asdsection .card4 .asdcard__background {
    background-image: var(--card4bg);
}

.asdsection .card5 .asdcard__background {
    background-image: var(--card5bg);
}

.asdsection .card6 .asdcard__background {
    background-image: var(--card6bg);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomonload {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#bgselector {
    float: left;
    display: inline;
    background: none;
    width: 420px;
    height: 80px;
}

#bgselector div {
    width: 45px;
    height: 45px;
    border: 1px solid #414550;
    display: inline-block;
}

#btnbgkaki1 {
    background: #F9ebd1;
}

#btnbgkaki2 {
    background: var(--color-linearkaki);
}

#btnbglightpurple {
    background: rgb(209, 190, 209);
}

.bodybackground1 {
    background: var(--htmlbackground);
}

.bodybackground2 {
    background: rgb(249, 249, 249);
    background: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(239, 239, 247, 1) 23%, rgba(172, 168, 181, 1) 86%, rgba(150, 143, 164, 1) 100%);
}

.bodybackground3 {
    background: var(--color-gradientyellowbg);
}

.bodybackgroundwongsir {
    background: var(--color-gradientyellowbg);
}

.bodybackground4 {
    /*   background: #F9ebd1, url(../images/gplaypattern.png) repeat;*/
    background: linear-gradient( 180deg, rgb(255 216 143 / 29%) 0%, rgb(255 216 143 / 20%) 100%), url(https://raw.githubusercontent.com/raychunghk/ramr/main/static/images/white_tiles.png) repeat;
}

.bodybackground5 {
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fab52e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f7c159' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f6ce83' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f6dcab' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23F9EBD1' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23f9ecd5' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f9eed8' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f9efdb' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f9f1df' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23F9F2E2' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*
.hero-section * {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
}*/

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xl) var(--spacing-l);
}

.asdsection .card1 .menuitems ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#shortcut_main_card .card-header {
    z-index: 2 !important;
}


/*merge elements from .grid*/

.asdsection .card-grid {
    z-index: 30;
    padding: 5px 20px;
    max-width: 95%;
    margin: 10px auto 0px auto;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-xxl);
    grid-row-gap: var(--spacing-xxl);
    /*max-width: var(--width-container);*/
    width: calc(100%-20px);
    transition: all .3s ease-in-out;
}

.asdsection .card-grid:hover {
    grid-column-gap: var(--spacing-xxxl);
    grid-row-gap: var(--spacing-xxxl);
}

.row-border {
    grid-column: 1;
    border-top: 2px solid rgb(219 134 2);
    height: 1px !important;
    width: 95%
    /* this code makes the row stretch to entire width of the container */
}

@media (min-aspect-ratio: 16/9) {}

@media (max-aspect-ratio: 16/9) {}

@media (max-width: 767px) {}

@media only screen and (min-device-height: 760px) and (min-device-width:350px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
    body {
        overflow-x: auto;
        overflow-y: scroll;
    }
    .asdsection {
        max-height: 100vh;
        overflow-y: scroll;
    }
    .asdsection .card-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 98%;
    }
    .asdsection .grid .asdcard {
        display: inline-block;
        width: 40vw;
        height: 18vw;
    }
    .hero-section {
        padding: var(--spacing-s) var(--spacing-s);
    }
    .asdsection .card1 .menuitems a {
        font-size: 13px;
        /* .9vw*/
    }
    .asdsection .asdcard .menuitems a {
        font-size: 14px;
        /* .9vw*/
    }
    nav.main-header h2 {
        color: rgb(155, 137, 137);
        /*-webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: #212121;
        -webkit-text-fill-color: #ffffff;
        text-shadow: none;*/
        font-size: 2.2em;
        text-shadow: var(--h2bordercolorb) 2px 0px 0px, var(--h2bordercolorb) 1.75517px 0.958851px 0px, var(--h2bordercolorb) 1.0806px 1.68294px 0px, var(--h2bordercolorb) 0.141474px 1.99499px 0px, var(--h2bordercolorb) -0.832294px 1.81859px 0px, var(--h2bordercolorb) -1.60229px 1.19694px 0px, var(--h2bordercolorb) -1.97998px 0.28224px 0px, var(--h2bordercolorb) -1.87291px -0.701566px 0px, var(--h2bordercolor) -1.30729px -1.5136px 0px, var(--h2bordercolor) -0.421592px -1.95506px 0px, var(--h2bordercolor) 0.567324px -1.91785px 0px, var(--h2bordercolor) 1.41734px -1.41108px 0px, var(--h2bordercolor) 1.92034px -0.558831px 0px, #4e4a4ad1 0px 0px 5px
    }
}

@media(min-width: 960px) {
    .asdsection .card-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(var(--card-height) 1px);
    }
}

.asdsection .grid>li {
    z-index: 99;
    opacity: 0;
    animation: fadedownin .5s forwards;
}

.main-header h3 {
    text-shadow: 0px 0px 6px rgba(69, 24, 77, 0.96) !important;
}

@keyframes fadedownin {
    from {
        transform: scale(1.1) rotateY(12deg) translateY(-15px) translateZ(-15px);
    }
    to {
        opacity: 1;
        transform: scaleZ(1) rotateY(0deg) translateY(0px) translateZ(0px);
    }
}

.asdsection .asdcard {
    list-style: none;
    position: relative;
    /*box-shadow: 0px 3px 14px 0px rgba(34, 32, 37, 0.87);*/
    /* last good one
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    */
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;*/
    /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /*
    box-shadow: inset 0 0 15px rgba(55, 82, 170, 0), inset 0 0 8px rgba(255, 255, 255, 0), 5px 5px 9px rgba(126, 209, 235, 0.3), -9px -7px 13px #fff, inset 0 0 4px rgba(255, 255, 255, 0.2);
    */
    border-radius: var(--spacing-s);
    transition: all .3s ease-in-out;
}

.asdsection .asdcard:before {
    content: '';
    display: block;
    width: 100%;
}

.asdsection .asdcard__background {
    background-size: cover !important;
    background-position: center;
    border-radius: var(--spacing-s);
    bottom: 0;
    height: var(--card-height);
    /*filter: brightness(0.5) saturate(1.2) grayscale(34%) sepia(23%) invert(.2) contrast(81%);*/
    filter: var(--cardbgfilter);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear, height 0.5s linear ease-in-out;
}

.asdsection .asdcard:hover {
    transform: scale(1.05) translateZ(0);
    /*transition: filter 200ms linear, transform 200ms linear;*/
    transition: all .3s ease-in-out;
    /*animation: center 3s forwards;*/
    /* position: fixed;*/
    /* bring your own prefixes */
}

.card-grid:hover li:not(:hover) .asdcard__background {
    filter: brightness(75%) saturate(0.3) contrast(1.2) blur(2px);
    transition: all .3s ease-in-out;
}

.card-grid:hover li:not(:hover) .cardtitle {
    filter: brightness(75%) saturate(0.3) contrast(1.2);
    transition: all .3s ease-in-out;
}

.card-grid:hover li:not(:hover) {
    z-index: 1;
}

.asdsection .asdcard .menuitems {
    overflow: hidden;
    overflow-y: auto;
    padding: 5px;
    max-height: calc( var(--card-height)*1.6);
}

.asdsection .asdcard__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.asdsection .asdcard__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.asdsection .asdcard__heading {
    color: var(--text-lighter);
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    align-self: flex-end;
    z-index: 10;
    /*text-shadow: 0 0 5px rgb(63, 48, 61), #6b6363 2px 2px 0;*/
    transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);*/
    background-clip: text;
    text-shadow: 0 0 3px rgb(71, 68, 71), 0px 4px 3px rgba(48, 48, 48, 0.4), 0px 6px 10px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@keyframes anibackgroundload {
    from {
        filter: brightness(1) scale(0.9)
    }
    to {
        filter: brightness(1.2) blur(3px) scale(1);
    }
}

.asdsection .cardtitle {
    overflow: hidden;
    margin-left: -50px;
    width: calc(var(--card-width)*.9);
    padding: 5px 5px 5px 20px;
    height: 55px;
    /*box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 10;
    border-radius: var(--spacing-s);
    /*
    transform: perspective(500px) scale(1.4) translateY(50px) translateX(20px) rotateY(10deg) skewX(5deg)skewY(5deg);
    */
    margin-top: calc(var(--card-height)*0.2);
    position: relative;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.asdsection .asdcard bubble {
    position: absolute;
    z-index: -99;
    top: -50%;
    left: 42%;
    width: 4em;
    height: 4em;
    border-radius: 0 0 4em 0;
    transition: all .5s ease;
    mix-blend-mode: hard-light;
}

.asdsection .card1:hover bubble {
    transform: scale(28) !important;
    transition: all .5s ease-in-out;
    filter: opacity(45%);
}

.asdsection .asdcard:hover bubble {
    transform: scale(18);
    transition: all .5s ease-in-out;
    filter: opacity(45%);
}

.titlecolor1,
.card1 .menuitems li:hover,
.asdsection .card1 bubble {
    background: var(--card1-color);
}

.titlecolor2,
.card2 .menuitems li:hover,
.asdsection .card2 bubble {
    background: var(--card2-color);
}

.titlecolor3,
.card3 .menuitems li:hover,
.asdsection .card3 bubble {
    background: var(--card3-color);
}

.titlecolor4,
.card4 .menuitems li:hover,
.asdsection .card4 bubble {
    background: var(--card4-color);
}

.titlecolor5,
.card5 .menuitems li:hover,
.asdsection .card5 bubble {
    background: var(--card5-color);
}

.titlecolor6,
.card6 .menuitems li:hover,
.asdsection .card6 bubble {
    background: var(--card6-color);
}

.asdsection .grid .asdcard {
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    margin: 0;
    padding: 20px;
    text-align: left;
}

.cubewrap,
.card-grid {
    position: relative;
    perspective: 1000px;
}

.cube {
    perspective-origin: top left;
    /* transform: perspective(500px) scale3d(.9, .9, .9) rotateX(5deg) rotateY(-5deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);*/
    /*transform: rotate3d(1, -1, -.1, 15deg);*/
    /* transform: rotateX( 2deg) rotateY( 10deg);
    transform-origin: 51% 50% -80px;
    transition: all 2s ease-in-out;*/
}


/*
.cube:hover {
    transform: rotateX( 0deg) rotateY( 0deg);
}*/

.asdsection .card1 figcaption {
    /*rgb(216, 200, 191),*/
    background: var(--color-card1figcaption), var(--urlmenubg1)
}

.asdsection .card2 figcaption {
    background: var(--color-card2figcaption), var(--urlmenubg1)
}

.asdsection .card3 figcaption {
    background: var(--color-card3figcaption), var(--urlmenubg1)
}

.asdsection .card4 figcaption {
    background: var(--color-card4figcaption), var(--urlmenubg1)
}

.asdsection .card5 figcaption {
    background: var(--color-card5figcaption), var(--urlmenubg1)
}

.asdsection .card6 figcaption {
    background: var(--color-card6figcaption), var(--urlmenubg1)
}

.asdsection figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.asdsection li:first-child {
    z-index: 6;
}

.asdsection li:nth-child(2) {
    z-index: 5;
}

.asdsection li:nth-child(3) {
    z-index: 4;
}

.asdsection li:nth-child(4) {
    z-index: 3;
}

.asdsection li:nth-child(5) {
    z-index: 2;
}

.asdsection li:nth-child(6) {
    z-index: 1;
}

.asdsection figcaption {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    color: #000000;
    overflow: hidden;
    position: absolute;
    max-height: 200px;
    border-radius: 5px;
    opacity: 0;
    z-index: 4;
    backface-visibility: hidden;
    margin-top: -20px auto auto auto;
    width: var(--card-width);
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all .3s ease-in-out;
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

.asdsection .asdcard:hover figcaption {
    min-height: 380px;
    height: auto;
    max-height: 560px;
    opacity: 1;
    margin-left: -30px;
    overflow-x: hidden;
    width: var(--card-menu-width);
    transform: translateY(-28px);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    */
    box-shadow: rgb(50 50 93 / 25%) 0px 14px 29px -20px, rgb(0 0 0 / 30%) 0px 10px 17px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset, rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    /*transition: opacity .3s, height .3s, box-shadow 0.3s width .4s;*/
}

.asdsection .card1 .menuitems {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    margin-top: 18% !important;
    margin-left: 3px;
}

.asdsection .card1:hover .menuitems {
    width: var(--card1-menuitemwidth) !important;
}

.asdsection .card1 .menuitems ul {
    column-count: 2;
}

.asdsection .card1 .menuitems h4 {
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.2em;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.asdsection .card1 .menuitems a {
    font-size: 16px;
}

.asdsection .card1 figcaption {
    width: 100%;
}

.asdsection .card1:hover figcaption,
.asdsection .card1.cs-hover figcaption {
    width: 750px !important;
}

.asdsection .asdcard:hover .asdcard__background {
    filter: brightness(1.2) saturate(1.4) contrast(1);
    border-top: solid 2px #c1babaab;
    height: var(--cardhover-bgheight);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateY(-40px);
    transition: all .5s ease;
}

.asdsection .asdcard:hover .cardtitle {
    transform: translateY(calc(var(--card-height)*0.25*-1));
    width: 100%;
    transition: all .5s ease-in-out;
}

.asdsection .menuitems {
    margin-left: 20px;
    margin-top: var(--menuitem-topmargin);
}

.asdsection .menuitems a {
    position: relative;
    display: inline-block;
    color: rgb(55, 90, 197);
    text-decoration: none;
    overflow: hidden;
    margin-left: 3px;
    text-shadow: 0px 0px 2px rgb(0 58 255 / 63%);
    align-self: flex-end;
}


/*
.asdsection .menuitems  li::before {
    position: absolute;
    content: attr(data-content);
    color: rgb(218, 254, 255);
    text-decoration: none;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 150ms ease;
    font-weight: 300;
}

.asdsection .menuitems  li:hover::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
*/


/*
.asdsection .menuitems  a::before {
    position: absolute;
    content: attr(data-content);
  
    top: 0;
    left: 0;
    color: midnightblue;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
}

.asdsection .menuitems  a:hover::before {
    width: 100%;
}
*/

.asdsection .menuitems ul li {
    height: 26px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 1px;
    border-radius: 3px;
    width: 98% !important;
    margin-right: 2%;
    display: flex !important;
    margin-top: 3px;
}

.asdsection .menuitems ul {
    list-style: none;
    padding-left: 10px;
}

.asdsection .menuitems ul li:hover {
    background-color: rgba(22, 109, 112, 0.712);
    transform: scale(1.03);
    box-shadow: 3px 7px 46px 1px rgba(203, 223, 218, 0.75);
    transition: all .3s ease-in-out;
    ;
}

.asdsection .menuitems a {
    font-family: sans-serif;
}


/*14dec udpated text shadow*/

.asdsection .menuitems li:hover a {
    color: white;
    text-shadow: 0 0 5px rgb(74 65 74), 1px 1px 2px rgb(164 158 197);
}


/* width */

.asdsection .menuitems ::-webkit-scrollbar {
    width: 5px;
}


/* Track */

.asdsection .menuitems ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.asdsection .menuitems ::-webkit-scrollbar-thumb {
    background: #6B705C;
}


/* Handle on hover */

.asdsection .menuitems ::-webkit-scrollbar-thumb:hover {
    background: #A5A58D;
}

@keyframes cardhover {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.05;
        trasnlateZ: 0;
    }
}

.cubewrap:hover {
    position: relative;
    z-index: 99 !important;
    /* transform: translateY(var(--card-hoverup));*/
    transform: all .3s ease-in-out;
}

@keyframes kfcenter-in {
    0% {
        top: 0%;
        left: 0%;
    }
    100% {
        top: 30%;
        left: 50%;
        box-shadow: none;
        /* bring your own prefixes */
        transform: translate(-50%, -30%) scale(1.05);
        /* rotateX( 2deg) rotateY( 15deg);*/
        ;
    }
}

.asdsection .card-grid li:nth-child(2) {
    animation-delay: var(--animation-delay);
}

.asdsection .card-grid li:nth-child(3) {
    animation-delay: calc(var(--animation-delay)*2);
}

.asdsection .card-grid li:nth-child(4) {
    animation-delay: calc(var(--animation-delay)*3);
}

.asdsection .card-grid li:nth-child(5) {
    animation-delay: calc(var(--animation-delay)*4);
}

.asdsection .card-grid li:nth-child(6) {
    animation-delay: calc(var(--animation-delay)*5);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes kfcenter-out {
    100% {
        top: 0%;
        left: 0%;
    }
    0% {
        top: 30%;
        left: 50%;
        box-shadow: none;
        /* bring your own prefixes */
        transform: translate(-50%, -30%) scale(1.05);
        /* rotateX( 2deg) rotateY( 15deg);*/
        ;
    }
}

.asdsection .asdcard:hover {
    position: absolute;
    animation: kfcenter-in .3s forwards;
    transition: all 2s ease-in-out;
}

.no-touch .asdsection .asdcard:hover figcaption h3,
.no-touch .asdsection .asdcard:hover figcaption span,
.no-touch .asdsection .asdcard:hover figcaption a,
.asdsection .card.cs-hover figcaption h3,
.asdsection .card.cs-hover figcaption span,
.asdsection .card.cs-hover figcaption a {
    transition: opacity 0.3s 0.2s;
    opacity: 1;
}


/*toogle button*/

.switch-holder {
    display: table-cell;
    padding: 5px 5px;
    border-radius: 10px;
    margin-bottom: 2px;
    text-align: center;
    /* box-shadow: -8px -8px 15px rgba(255, 255, 255, .7), 10px 10px 10px rgba(0, 0, 0, .3), inset 8px 8px 15px rgba(255, 255, 255, .7), inset 10px 10px 10px rgba(0, 0, 0, .3);*/
    /*justify-content: space-between;
    align-items: center;*/
    background: white;
    vertical-align: middle;
    height: 46px !important;
    float: right;
    display: inline;
    margin-right: 10px;
}

.switch-label {
    width: 200px;
    font-size: 16px !important;
    text-shadow: none;
    display: inline-block;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -3px -3px 7px rgba(255, 255, 255, .6), inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'OFF';
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    top: 4px;
    left: 6px;
    width: 35px;
    height: 23px;
    border-radius: 16px;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgb(255 255 255 / 50%), 3px 3px 5px rgb(0 0 0 / 25%);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 46%;
    content: 'ON';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5), 3px 3px 5px #00b33c;
}
